*~
tmp
logs
coverage
build/Release
node_modules
.cache
.vscode
.idea
.DS_Store
.npm
.eslintcache
.temp
.cache
.dev.vars
.wrangler
.env
.env.*
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.o
*.exe
*.iml
*.pid
*.lcov

